
.container{
    width:400px;
    height:500px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:200px;
    height:300px;
    border: 10px solid black;
    background-color: red;
    text-align: center;
    color: white;
    /* background-image: linear-gradient(to right bottom,red,blue); */
    /* background-image: repeating-linear-gradient(125deg,
    red 0% 20% blue 20% 40%
    ); */
    background-image: repeating-radial-gradient(red 0% 20%,blue 20% 40%);
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease; */
    transition:transform 1s ease;
}

.card:hover{
    box-shadow: -10px -20px 20px red,10px 10px 20px blue;
    /* transform: translateY(-30px); */
    /* transform:scale(1.1); */
    /* transform:rotate(3600deg); */
    transform : translate(50px,-50px) scale(1.6) rotate(3600deg)
}
